@use "var" as *;
@use "mixins" as *;
@use "button" as *;

.about {
  color: $text-color-light;
  text-align: center;
  background: url("../images/bg-section-about-us.jpg") center center $brand-color-dark no-repeat;
  background-size: cover;
  padding: rem(100) $padding-side rem(60);

  h2 {
    max-width: rem(300);
    @include margin-center;
    margin-bottom: rem(24);
  }

  p {
    max-width: rem(270);
    @include margin-center;
    margin-bottom: rem(48);
  }

  &-btn {
    @include border-button;
  }

  @include mq($tabletPortrait) {
    h2 {
      max-width: rem(600);
    }

    p {
      max-width: rem(500);
      margin-bottom: rem(60);
    }
  }

  @include mq($desktopMedium) {
    h2 {
      max-width: rem(700);
      font-size: rem(48);
    }

    p {
      max-width: rem(600);
      font-size: rem(14);
    }
  }
}
