@use "mixins" as *;
@use "var" as *;

.advisor-form {
  background-color: $brand-color-dark;
  padding: 0 $padding-side 3rem;

  h2 {
    text-align: center;
    color: $text-color-light;
    padding: 1rem 0 0.5rem;
  }

  h3 {
    position: relative;
    text-align: center;
    color: $text-color-light;
    font-family: $body-font;
    font-weight: normal;
    font-size: 0.9rem;
    margin-bottom: 2rem;

    &::after {
      content: "";
      position: absolute;
      top: 2rem;
      right: 0;
      left: 0;
      height: 1px;
      background-color: #fff;
    }
  }

  .form-group {
    @include flex-box($ai: flex-start);
    flex-direction: column;

    .form-row {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    label {
      color: $text-color-light;
      font-family: $heading-font;
      font-weight: bold;
      padding: 0.5rem 0;
    }

    .select-wrapper {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 8px solid grey;
      }
    }

    select {
      width: 100%;
      padding: 0.5rem;
      background-color: lightgrey;
      color: rgb(104, 104, 104);
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";

      &.active {
        background-color: #fff;
      }
    }
  }

  .submit {
    margin-top: 3rem;

    input {
      width: 100%;
      color: $text-color-light;
      background-color: $brand-color-light;
      text-transform: uppercase;
      padding: 0.5rem;
      border: none;
    }
  }

  @include mq($tabletPortrait) {
    padding: 0 rem(20) 3rem;

    h3 {
      font-size: 1.25rem;
      color: $brand-color-light;
      margin-bottom: 3rem;

      &::after {
        top: 3rem;
      }
    }

    .form-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;

      .select-wrapper::after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 9px solid $brand-color-light;
      }
    }

    .submit-group {
      padding-bottom: 2rem;
    }

    .submit {
      text-transform: lowercase;
      grid-column: 1/3;
    }
  }

  @include mq($desktopMedium) {
    h3 {
      font-size: 0.9rem;
      margin-bottom: 1rem;

      &::after {
        top: 1.7rem;
      }
    }

    .form-group {
      grid-template-columns: repeat(5, 1fr);
      margin-right: 0.5rem;
    }

    .submit {
      margin-top: 2rem;
    }
  }
}
