@use "var" as *;
@use "mixins" as *;

.site-footer {
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  gap: rem(24);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $brand-color-light;
  padding: rem(28) 0 rem(48);

  a,
  .copyright {
    font-size: rem(13);
    color: $text-color-light;
    text-transform: uppercase;
    text-decoration: none;
  }

  .logo img {
    @include margin-center;
    width: rem(130);
  }
}

.footer-info {
  @include flex-box;
  gap: rem(6);

  .social-item img {
    width: rem(30);
  }

  .social-item + .contact-item {
    margin: 0 rem(6);
  }
}

.contact-item {
  @include flex-box;

  img {
    width: rem(20);
    height: rem(20);
    margin-right: rem(4);
  }
}

@include mq($tabletPortrait) {
  .site-footer {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: rem(10) rem(32);
    padding-bottom: rem(30);
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .copyright {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@include mq($desktopMedium) {
  .site-footer {
    grid-template-columns: 0.5fr auto auto;
    gap: rem(24);

    .logo {
      grid-row: 1 / 2;

      img {
        width: rem(150);
        margin-left: 0;
      }
    }
  }

  .copyright {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}
