@use "mixins" as *;
@use "var" as *;

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .logo {
    width: 7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    padding-left: 10px;
  }
}

.mobile-header {
  @include flex-box;
  background-color: rgba($color: #555555, $alpha: 0.7);
  justify-content: space-between;
}

.drop-down-menu {
  position: absolute;
  top: 3.57rem;
  z-index: 99;
  left: 0;
  right: 0;

  ul {
    position: absolute;
    height: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba($color: #555555, $alpha: 0.7);
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    transition: height 0.6s ease;
  }

  li {
    padding: 0.4rem;

    &:hover {
      background-color: $brand-color-light;
    }
  }

  a {
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: $heading-font;
  }

  &.is-active ul {
    height: 18.5rem;
  }
}

#hamburger {
  .line {
    width: 35px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-active .line {
    &:nth-child(1) {
      -webkit-transform: translateY(6px) rotate(45deg);
      -ms-transform: translateY(6px) rotate(45deg);
      -o-transform: translateY(6px) rotate(45deg);
      transform: translateY(6px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      -ms-transform: translateY(-10px) rotate(-45deg);
      -o-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

@include mq($tabletPortrait) {
  header {
    .logo {
      display: block;
      margin: 0 auto;
      height: 10rem;
      width: 14rem;
      margin-top: 0rem;
    }
  }

  .mobile-header {
    background-color: transparent;
    display: block;
  }

  .desktop-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: rem(10) rem(20);
    margin: 0 auto;
    text-transform: uppercase;

    ul {
      gap: 1rem;
      display: flex;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .desktop-menu {
    width: 100%;
    padding: 0 $padding-side;
    display: flex;
    margin: 0 auto;

    button {
      background-color: rgba($color: #2b2b2b, $alpha: 0.7);
      border: 0px solid rgba($color: #2b2b2b, $alpha: 0.7);
      border-radius: 0;
      padding: 0.5rem;
    }
  }
}

@include mq($desktopMedium) {
  .desktop-menu {
    margin: 0 auto;

    button {
      padding: 1.5rem 0.5rem;
    }
  }
}
