@use "var" as *;
@use "mixins" as *;
@use "button" as *;

.hero {
  background-image: url(../images/header-slider-img-01.jpg);
  text-transform: uppercase;
  background-color: white;
  transition: background-image 2s;
  background-color: #cccccc;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    max-width: rem(400);
    color: $text-color-light;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 10rem;
  }

  .hero-buttons {
    @include flex-box();
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 0;

    a {
      @include border-button($ps: rem(16));
      font-weight: normal;
    }
  }

  .slideshow-dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
    padding-bottom: 7rem;
    padding-top: 4rem;
  }

  .dot {
    width: 10px;
    height: 10px;
    transition: background-color 1s;
    padding: 0.5rem;
    text-align: center;
    line-height: 10px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #fff;

    &-active {
      background: $brand-color-light;
    }
  }

  @include mq($tabletPortrait) {
    h1 {
      padding: 5rem $padding-side;
      max-width: rem(650);
      margin: 0 auto;
    }

    .hero-buttons {
      height: 3rem;
      flex-direction: row;
      gap: 2rem;
      padding: 0;

      a {
        font-weight: bold;
      }
    }
  }

  @include mq($desktopMedium) {
    h1 {
      font-size: rem(64);
      max-width: rem(900);
    }

    .hero-buttons {
      gap: 4rem;

      a {
        padding: rem(10) rem(46);
      }
    }
  }
}
