@use "var" as *;
@use "mixins" as *;

.hero {
  background-image: url(../images/header-slider-img-01.jpg);
  text-transform: uppercase;
  background-color: white;
  transition: background-image 2s;
  background-color: #cccccc;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    // position:relative;
    // z-index:1;
    // top:10rem;

    color: $text-color-light;
    font-family: $heading-font;
    text-align: center;
    width: em(192);
    font-weight: bold;
    margin: 0 auto;
    padding-top: 10rem;
  }

  button {
    text-transform: uppercase;
    font-family: $body-font;
    background-color: transparent;
    border: 1px solid white;
    color: $text-color-light;
    padding: 0.5rem 1rem;
  }

  .btn-group {
    display: none;
  }

  .hero-buttons {
    @include flex-box();
    flex-direction: column;
    padding-bottom: 7rem;
    padding-top: 4rem;
    gap: 1rem;
  }

  .white-wave {
    display: block;

    object-fit: cover;

    transform: scale(1.3, 2.9);
    // height:100%;
    // max-width:100%;
    object-position: 50% top;
  }

  .slideshow-dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // position: absolute;
    // top: 33rem;
    left: 0;
    right: 0;
    padding-bottom: 7rem;
    padding-top: 4rem;
  }

  .c {
    width: 10px;
    height: 10px;
    transition: background-color 1s;
    padding: 0.5rem;
    text-align: center;
    line-height: 10px;
    margin: 0.5rem;
    border-radius: 50%;
    background: white;
  }

  .c.c1 {
    background: $brand-color-light;
  }

  @include mq($tabletPortrait) {
    h1 {
      padding: 5rem $padding-side;
      width: em(300);
      margin: 0 auto;
    }

    .btn-group {
      padding-top: 10rem;
      display: flex;
      width: 81%;
      margin: 0 auto;

      button {
        background-color: rgba($color: #2b2b2b, $alpha: 0.7);
        border: 0px solid rgba($color: #2b2b2b, $alpha: 0.7);
        border-radius: 0;
        padding: .5rem;
      }
    }

    .hero-buttons {
      height: 3rem;
      flex-direction: row;
      gap: 1.5rem;
      padding: 0;
    }
  }

  @include mq($desktopMedium) {
    h1 {
      font-size: 5rem;
      max-width: 1100px;
    }

    .btn-group {

      padding-top: 12rem;
      margin: 0 auto;
      max-width: 900px;

      button {
        padding: 1.5rem 0.5rem;
      }
    }
  }
}