// Function to
// Convert Px to Ems
@function em($px, $bc: 16) {
  @return #{calc($px / $bc)}em;
}

@function rem($px) {
  @return #{calc($px / 16)}rem;
}

@function solid-border($px: 1, $bc: #ccc) {
  @return #{$px}px solid #{$bc};
}

// Center elements in a flex
@mixin flex-box($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

// Mixin for centering element
@mixin margin-center {
  margin: {
    left: auto;
    right: auto;
  }
}

// Media Query Mixin
@mixin mq($w) {
  @media (min-width: $w) {
    @content;
  }
}
