// Customize Products
@use "var" as *;
@use "mixins" as *;

.products {
  position: relative;
  width: 100%;
  padding: rem(24) $padding-side;

  h2 {
    color: $text-color-dark;
    margin-bottom: rem(12);
  }

  h2,
  p {
    text-align: center;
    @include margin-center;
  }

  @include mq($tabletPortrait) {
    h2 {
      color: $brand-color-dark;
    }

    p {
      max-width: rem(700);
    }
  }
}

.products-list {
  list-style: none;
  margin: rem(24) auto;

  li > a {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    justify-content: center;
    gap: rem(10);
    margin: rem(10) 0;
    padding-bottom: rem(14);
    border-bottom: border();
    text-decoration: none;

    &:last-child {
      border: 0;
    }
  }

  img {
    grid-column: 1 / 2;
  }

  .product-name {
    grid-column: 2 / 3;
    font-size: rem(22);
    color: $text-color-dark;
    margin: auto 0;
  }

  @include mq($tabletPortrait) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(5);

    li > a {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr rem(60) auto;
      text-align: center;
      border-bottom: 0;
    }

    img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @include margin-center;
    }

    .product-name {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      color: $brand-color-light;
      margin-top: 0;
      @include margin-center;
    }

    .mobile-hide {
      grid-row: 3 / 4;
      text-decoration: underline;
    }
  }
}
