// Typography Styles
@use "var" as *;
@use "mixins" as *;

body,
main a {
    font-family: $body-font;
}

main a {
    color: $text-color-dark;
}

h1,
h2,
h3,
nav a {
    font-family: $heading-font;
}

h2 {
    font-size: rem(24);
}

.heading {
    font-family: $heading-font;
    font-size: rem(24);
    font-weight: bold;
}

.mobile-hide {
    display: none;
}

@include mq($tabletPortrait) {
    h2,
    .heading {
        font-size: rem(28);
    }

    .mobile-show {
        display: none;
    }

    .mobile-hide {
        display: block;
    }
}
