@use "mixins" as *;

// Colors
$brand-color-dark: #244a64;
$brand-color-light: #009ddc;

$text-color-dark: #504f4f;
$text-color-light: white;

// Fonts
$heading-font: "Roboto Condensed", sans-serif;
$body-font: "Roboto", sans-serif;

// Padding
$padding-side: rem(10);

// Media Query Breakpoints
$desktopMedium: em(1024);
$tabletPortrait: em(768);
