@use "var" as *;
@use "mixins" as *;

.wave {
  &::before {
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    background-size: cover;
    width: 100%;
    height: 100px;
  }

  &-products::before {
  }

  &-footer::before {
    top: -#{rem(60)};
    background-color: $brand-color-light;
    background: url("../images/wave-blue-light.png") 60% center no-repeat;

    @include mq($tabletPortrait) {
      height: 110px;
      background-size: cover;
    }

    @include mq($desktopMedium) {
      height: 160px;
      top: -#{rem(90)};
    }
  }
}
